body {
  background-color: #212121;
}
/* The emerging W3C standard
   that is currently Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: #212121 #212121;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background-color: #212121;
}
*::-webkit-scrollbar-thumb {
  background-color: #5c5c5c;
}

/* temp grid styles */
